<div>
  <h1>Restablecer Contraseña</h1>
  <form action="/api/session/reset-password" method="post">
    <input name="token" value="{{token}}" />
    <input name="userId" value="{{userId}}" />
    <label for="newPassword">Nueva Contraseña:</label>
    <input type="password" id="newPassword" name="newPassword" required />
    <button type="submit">Restablecer Contraseña</button>
  </form>
</div>