<div>
    <h1>Lista de productos a tiempo real</h1>
    <ul id="listaProductos">
       {{!-- aca van los productos con io.emit --}}
    </ul>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>